.navbar {
  margin: 0;
}

 .banner img {
    height: 100%;
    width: 100%;
    border-color: white;
   }

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 400px;
  width: 1000px;
}

.{{car.title}} img {
  height: 200px;
  width: 350px;
}

.{{car.subtitle}} p {
  text-align: center;
}

body {
  background-color: black;
}

.well {
  background-color: #ef7626;
  border-color: black;
}

.media {
  background-color: black;
}

hr {
  border-color: black;
}

.articleTitle {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

button {
  background-color: black;
  color: grey;
}

button:hover {
  color: white;

}

.aboutHeader {
  text-align: center;
}
