<div class="container fluid">
  <div class="row banner">
    <img src="http://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2018/demon-final/desktop/2018-dodge-demon-vlp-hero.jpg.image.1440.jpg" alt="bannerimg" />
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h2 class="aboutHeader">About Super Cars</h2>
      <br>
      <hr>
      <br>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h4 class="aboutHeader">The Super Cars website was created to explore the wonderful world of automobiles. This project allows us to imagine Driving the various cars while simultaneously traversing the pathways of the Ember framework!</h4>
      </div>
    </div>
  </div>
</div>
