<h2>About Super Cars</h2>

<p>The Super Cars website was created to explore the wonderful world of automobiles. This project allows us to imagine Driving the various cars while simultaneously traversing the pathways of the Ember framework!</p>
