
<div class="container fluid">
  <div class="row banner">
    <img src="http://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2018/demon-final/desktop/2018-dodge-demon-vlp-hero.jpg.image.1440.jpg" alt="bannerimg" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="media-list">
        {{#each model as |car|}}
          {{car-tile car=car}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
